// --- general resets ---
body {
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  th, td {
    font-size: 100%;
    text-align: left;
  }
}
// ----------------------
// --- generic compact ---
textarea, input, select, button {
  box-sizing: border-box;
}
section {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.vpad {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hpad {
  padding-left: 10px;
  padding-right: 10px;
}
// -----------------------

body {
  font: 14px "Times New Roman", Times, serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

table {
  td, th {
    text-align: center;
    vertical-align: top;
    &.highlighted {
      background-color: rgba(103, 191, 210, 0.5);
    }
  }
  td:first-child {
    text-align: left;
  }
  th {
    &:first-child {
      text-align: right;
    }
  }
  tbody tr:hover {
    // pinkish
    background-color: rgba(210, 103, 155, 0.5);
    td {
      &.highlighted {
        // dark pink
        background-color: rgba(210, 103, 155, 0.8);
      }
      &:hover {
        // darker pink
        background-color: rgba(200, 80, 125, 0.8);
      }
    }
  }
}

input[type="number"] {
  width: 65px;
}

.cell {
  cursor: pointer;
  background-color: rgba(103, 191, 210, 0.3);
  min-width: 28px;
  span {
    cursor: not-allowed;
    &.local {
      color: gray;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
